
@import url(http://fonts.googleapis.com/css?family=Montserrat);
body{
  overflow-x:hidden;
}
.content{

  width:80vw;
    height: 80vw;
    padding: 5em;
    text-align: left;
    z-index:50;
}
.agency{
  font-family:'Agency FB';
  font-weight:600;
}
.role {
 width:30vw;
  font-size:20px;
  font-family: Tw Cen MT;
font-weight:500;
}
.describe {
  font-size:20px;
  font-family: Tw Cen MT;
width:30vw;

}
.content a{
  font-family:'Agency FB';
  color:#333;
  padding:1em;
  margin-top:2em;
margin-right:1em;
font-weight:600;
text-decoration: none;
background-color:#eee;
}
.links{
  padding-top:2em;
}
.content a:hover{
  font-family:'Agency FB';
  color:#333;
text-decoration: underline;

}
.nexttodo{
  font-size:20px;
  font-family:Tw Cen MT;

  width:60vw;
  height:auto;
  margin-top:1em;
  padding-bottom:1em;
}
.process{
  font-size:20px;
  font-family:Tw Cen MT;

  width:40vwvw;
  height:auto;
  margin-top:1em;
  padding-bottom:1em;
}

.Grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.u-textCenter {
  text-align: center;
}

.Grid-cell {
  flex: 1;
  padding:1em;
}


/* With gutters*/
.Grid--gutters {
  margin-left: -1em;
}
.Grid--gutters .Grid-cell {
  padding-left: 1em;
}
.Grid--gutters .Grid--nested .Grid-cell:first-of-type .Demo {
  margin-right: 1em;
}

/* Justify per row*/
.Grid--right {
  justify-content: flex-end;
}

.Grid--center {
  justify-content: center;
}

/* Alignment per row */
.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}

/* Alignment per cell */
.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}


/*===========================================*/
/* Base classes for all media - Mobile first */
.Grid--cols-2 > .Grid-cell {
  flex: 0 0 50%;
  margin-top:-3em;

}

/*.Grid--cols-2 > .Grid-cell svg{
  flex: 0 0 50%;
height:20em;
}
.Grid--cols-2 > .Grid-cell:nth-child(1){
margin-left:11em;
}

.Grid--cols-2 > .Grid-cell:nth-child(2){
margin-right:11em;
}*/



.Grid--cols-3 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-4 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-6 > .Grid-cell {
  flex: 0 0 calc(50% - 1em);
}

.Grid--cols-12 > .Grid-cell {
  flex: 0 0 calc(33.3333% - 1em);
}

.Grid--holly-grail .aside, .Grid--holly-grail .main {
  flex: 1 100%;
}

/* One of -- columns*/
.Grid--1of2 > .Grid-cell,
.Grid--1of4 > .Grid-cell:first-of-type,
.Grid--1of3 > .Grid-cell:first-of-type {
  flex: 0 0 100%;
}

.Grid--1of6 > .Grid-cell:first-of-type {
  flex: 0 0 50%;
}

.Grid--fit > .Grid-cell {
  flex: 1;
}

.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

/* Tablet (medium) screens */
@media (min-width: 30em) {
  .Grid--cols-4 > .Grid-cell {
    flex: 0 0 calc(50% - 1em);
  }

  .Grid--cols-6 > .Grid-cell {
    flex: 0 0 calc(33.3333% - 1em);
  }

  .Grid--cols-12 > .Grid-cell {
    flex: 0 0 calc(16.6666% - 1em);
  }

  .Grid--holly-grail .aside {
    flex: 1 calc(25% - 1em);
  }

  .Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }

  .Grid--1of6 > .Grid-cell:first-of-type {
    flex: 0 0 30%;
  }

  .Grid--1of4 > .Grid-cell:first-of-type {
    flex: 0 0 50%;
  }

  .Grid--1of3 > .Grid-cell:first-of-type {
    flex: 0 0 100%;
  }
}
/* Large screens */
@media (min-width: 48em) {
  .Grid--cols-2 > .Grid-cell,
  .Grid--cols-3 > .Grid-cell,
  .Grid--cols-4 > .Grid-cell,
  .Grid--cols-6 > .Grid-cell,
  .Grid--cols-12 > .Grid-cell {
    flex: 1;
  }

  .Grid--holly-grail .main {
    flex: 2;
  }
  .Grid--holly-grail .aside {
    flex: 1;
  }
  .Grid--holly-grail .aside-1 {
    order: 1;
  }
  .Grid--holly-grail .main {
    order: 2;
  }
  .Grid--holly-grail .aside-2 {
    order: 3;
  }

  .Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }

  .Grid--1of6 > .Grid-cell:first-of-type {
    flex: 0 0 16.6666%;
  }

  .Grid--1of4 > .Grid-cell:first-of-type {
    flex: 0 0 25%;
  }

  .Grid--1of3 > .Grid-cell:first-of-type {
    flex: 0 0 30%;
  }

  .Grid--gutters.Grid--nested .Grid-cell:first-of-type .Demo {
    margin-right: 0;
  }
}

section h4{
  padding:1em;
  margin-top:-8em;
    color:#333;
    font-family:'Agency FB';
    font-size:1.5em;
text-transform:uppercase;
    text-align:center;
    cursor:pointer;
        transition:1s;
}
section h4:hover{
  padding:1em;
  margin-top:-8em;
    color:#333;
    letter-spacing: 2px;
    font-family:'Agency FB';
    font-size:1.5em;
text-transform:uppercase;
    text-align:center;
    cursor:pointer;
    transition:1s;
}
.sizer{
  padding-top:5vh;
  padding-left:15vw;
  padding-right:15vw;
    margin-bottom:5em;
}
.newsizer{

    padding-left:26vw;
  padding-right:26vw;
}
.projects a{
  cursor:pointer;
}


* {
  margin: 0;
  padding: 0;
}
 
 .main-nav nav {
  

}
 
#global{
position:fixed;

} 
 ul {
/*  overflow: auto;*/
margin-left:35vw;
padding-top:0.5em;
  list-style-type: none;
}
 
#global li {
/*  height: 25px;*/
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
#global li:last-child {
  border-right: none;
}
 
#global li a {
  text-decoration: none;
  color: #ccc;
  font-family: Tw Cen MT;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#global li a:hover {
  text-decoration: none;
  color: #111;
  font-family: Tw Cen MT;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
/*#global li a:hover {
  color: #666;
}*/
.active  {
  font-weight: bold;
  color: black;
}



.projects{
padding-top:3em;
    height:100vh;
/*visibility:hidden;*/
/*opacity:0;*/
    transition:1s ease;
}
.portfolio{
padding-top:3em;
    height:100vh;
/*visibility:hidden;*/
/*opacity:0;*/
    transition:1s ease;
}
.about{

    height:100vh;
/*visibility:hidden;*/
/*opacity:0;*/
padding:3em;
padding-top:7em;
    transition:1s ease;

}
.about h2{
  text-align: center;
}
.resume{

    height:100vh;
/*visibility:hidden;*/
/*opacity:0;*/
    transition:1s ease;
}
.contact{

    height:100vh;
/*visibility:hidden;*/
/*opacity:0;*/
    transition:1s ease;
}
.draw{

    height:100vh;
/*visibility:hidden;*/
/*opacity:0;*/
    transition:1s ease;
}



.down{
  margin-top:-6em;
}
.down:hover{
  margin-top:-6em;
}



.anim {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s  ease-in-out both;
  

}

@keyframes dash {
    0% {
    stroke-dashoffset: 1000;
  }
    50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}




/*#proj {
  padding-top: 120px;
  margin: auto;
  display: block;
}
*/
/*.bg {
  text-align: center;
  width: 0%;
  transition: all 0.6s ease-out;
  background: red background: -moz-linear-gradient(left, red 0%, purple 50%, blue 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(50%, purple), color-stop(100%, blue));
  background: -webkit-linear-gradient(left, red 0%, purple 50%, blue 100%);
  background: -o-linear-gradient(left, red 0%, purple 50%, blue 100%);
  background: -ms-linear-gradient(left, red 0%, purple 50%, blue 100%);
  background: linear-gradient(to right, red 0%, purple 50%, blue 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='red', endColorstr='blue', GradientType=1);
}*/

/*#proj a {
  display: inline-block;
  background-color: white;
  mix-blend-mode: screen;
  /*padding: 5px;*/
/*}*/

/*#proj:hover .bg {
  width: 100%;
}
*/

#lightbox{
  overflow-y:hidden;
  visibility:hidden;
  position:fixed;
/*  height:1800px;
overflow-y:scroll;*/
overflow-x:hidden;

  top:0;
  left:0;
  background-color:#fff;
  width:100vw;
  min-height:100vh;
  height:auto;
  z-index:97;
  opacity:0;
   transition:1s ease;
}
iframe {    
overflow:hidden;

}









.right{

  height: auto;
  width: 40vw;
  height:100vh;
  margin-left: 35vw;
 font-family: 'Open Sans', sans-serif;
}
.narrow {
    width: 30vw;
  height:100vh;
  margin-left: 53vw;
}
.left{


 height: 80vh;
  position: fixed;
  width: 30vw;
 font-family: 'Agency FB';
 

}
.wide{
    width: 50vw;
}

#refract{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
   transition:1s ease;
}
#mvem{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
  transition:1s ease;
}

#mix{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
  transition:1s ease;
}

#gall{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
  transition:1s ease;
}

#plan{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
  transition:1s ease;
}




#visual{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
  transition:1s ease;
}

#evil{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
  transition:1s ease;
}

#geometry{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
  transition:1s ease;
}

#connection{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
  transition:1s ease;
}
#teatime{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
  transition:1s ease;
}

#alisa{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
  transition:1s ease;
}

#macy{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
  transition:1s ease;
}

#black{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
opacity:0;
  z-index:98;
  transition:1s ease;
}



h2{
  padding:1em;

    color:#a3a3a3;
    font-family:'Agency FB';
    font-size:1.5em;
text-transform:uppercase;
    text-align:center;

}

#close{
  visibility:hidden;
position:fixed;
top:2em;
right:2em;
 z-index:99;
   opacity:0;
   transition:1s ease;

}
button svg{
  width:1em;


}
button {
  height:2em;
    width:2em;
    background-color:#fff;
  border:none;
  cursor:pointer;
}


@-webkit-keyframes wiggle {
    0% { -webkit-transform: skewX(-24deg); } 
    10% { -webkit-transform: skewX(-8deg); }
    20% { -webkit-transform: skewX(-55deg); }
    30% { -webkit-transform: skewX(-75deg); }
    40% { -webkit-transform: skewX(-90deg); }
    50% { -webkit-transform: skewX(-75deg); }
    60% { -webkit-transform: skewX(-50deg); }
    70% { -webkit-transform: skewX(-30deg); }
    80% { -webkit-transform: skewX(-1deg); }
    90% { -webkit-transform: skewX(30deg); }
    100% { -webkit-transform: skewX(0deg); }
}




/*header:hover {
  -webkit-animation: wiggle 1s;
}
*/
h1 span {
  position:relative;
  font-family:'Montserrat';
  font-weight:normal;
  font-size:8em;
  text-align:center;
  cursor:pointer;
  color:white;
  transition:all ease-in-out 3s;
  text-shadow:1px 1px rgba(246, 0, 153,0.6),
             -1px -1px rgba(15, 210, 255,0.6),
             -1px 0px rgba(255, 210, 0, 0.6);
}

h1 span:hover {
  -webkit-animation: wiggle 1.5s;
  transition:all ease-in-out 0.5s;
  text-shadow:30px 13px rgba(246, 0, 153,0.6),
             -38px -4px rgba(15, 210, 255,0.6),
             -2px -14px rgba(255, 210, 0, 0.6);

}




#main
{
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
}


.aboutme{
  text-align:center;
  width:50vw;
  margin-left:20vw;
   margin-bottom:3vw;
    font-size:20px;
  font-family: Tw Cen MT;
  line-height: 25px;
}
.cvbutt{

  margin-top:5em;

}
 a .cvbutt {
  width:1em;
 margin-left:44vw;
  font-family:'Agency FB';
  color:#333;

padding:3em;
font-weight:600;
text-decoration: none;
background-color:#eee;
}
a{text-decoration: none;}

.cvbutt a:hover{
  font-family:'Agency FB';
  color:#333;
text-decoration: underline;

}

img{
  width:100%;
  height:auto;
}
ul .expertise{
  width:50vw;
  margin-bottom:3em;
}

@media only screen 
and (min-device-width: 623px) 
and (max-device-height: 768px) 
and (min-resolution: 192dpi)
and (-webkit-device-pixel-ratio:2)
and (orientation : portrait) 

{
  ul{margin-left:10vw;}

#global li{
  border:none;
  padding:1em;
  padding-right: 1em;
    font-size: 5px;;
}

}


/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/
/*html, body {
  min-height: 100%;
  width: 100vw;
  overflow: hidden;
}*/

/*#credit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 5;
  background: rgba(255,255,255,.8);
}*/

/*.pen {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #000;
  transform: translate(-50%,-50%);
  z-index: 1000;
  pointer-events: none;
  box-shadow: 0 0 0 2px #fff, inset 0 0 0 2px #fff;
  transition: opacity .5s;
  opacity: .7;
}
body:active .pen {
  opacity: .2;
}

.guide {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  border-top: 1px solid rgba(0,0,0,.2);
  width: 1000px;
  height: 1px;
  transform-origin: 0 0;
  transition: opacity .5s;
  pointer-events: none;
}
#masterCanvas {
 /* position: absolute;*/
/*  top: -99999px;
  left: -99999px;
}*/
#masterCanvas canvas.fg {
  display: none;
}
#masterCanvas.test {
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: scale(.2);
}
#masterCanvas.test canvas {
  display: block;
  border: 1px solid red;
}


#canvases .canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1000px;
  width: 2000px;
  margin-top: -500px;
  margin-left: -1000px;
  z-index: 3;
}
#canvases canvas {
  position: absolute;
  z-index: 3;
}
#canvases .canvas .fg {
  z-index: 5;
  cursor: none;
  opacity: 0;
}

.settings  {
/*  position: absolute;*/
  bottom: 0;
  left: 0;
  z-index: 500;
  background: rgba(255,255,255,.8);
}
.settings * {
  margin: 10px 0 10px 10px;
  float: left;
  font-size: .8rem;
  line-height: 1em;
  cursor: default;
  outline: 0;
  color: #000;
}
.settings > div {
  margin: 0;
  position: relative;
}
.settings div span {
  margin: 0;
/*  position: absolute;*/
  top: -.8em;
  font-size: .8em;
  min-width: 100%;
  background: rgba(255,255,255,.8);
  padding: 4px 0 4px 10px;
}
input[type=number] {
  width: 3rem;
  padding: 0 0 0 5px;
  font-size: 1.7em;
  border-width: 1px;
}
.jscolor {
  width: 3.8rem;
  text-indent: -99999px;
  padding: 0 0 5px;
  font-size: 1.7em;
  border-width: 1px;
}
input[type=checkbox] {
  margin-top: 1.7em;
  margin-left: 20px;
}
.settings label {
  z-index: 2;
  position: relative;
  line-height: 1.45em;
  padding: 10px 10px 10px 30px;
  margin: 10px 0 10px -25px;
}
.settings button,
.settings a {
  line-height: 1.45em;
  padding: 10px 10px;
}
.settings button:hover,
.settings a:hover {
  background: rgba(0,0,0,.1);
  color: #000;
}
.settings input:hover {
  background: rgba(0,0,0,.1);
}
.settings label:hover {
  background: rgba(0,0,0,.1);
}
.hiddenDownload,
.hiddenColor,
.hiddenSize {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

@media (max-width: 501px) {
  .settings > * {
    clear: left;
  }
}*/