/*body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.menu {
    width: 20vw;
    height: 100vh;
    background-color: darkgrey;
    position: fixed;
    background-color:darkgrey;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.right{*/
/*  padding-left:20vw;*/
/*}
.light-menu {
    width: 100%;
    height: 75px;
    background-color: darkgrey;
    position: fixed;
    background-color:darkgrey;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#menu-center {
    width: 980px;
    height: 75px;
    margin: 0 auto;
}
#menu-center ul {
    margin: 15px 0 0 0;
}
#menu-center ul li {
    list-style: none;
    margin: 0 30px 0 0;
    display: block;
}
.active {
    font-family:'Helvetica', serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}
#menu-center a {
    font-family:'Helvetica', serif;
    font-size: 14px;
    color: grey;
    text-decoration: none;
    line-height: 50px;
}
#about {
    background-color: grey;
    height: 100%;
    margin-left:20vw;
    width: 80vw;
    overflow: hidden;

}
#idea {

    height: 100%;
    margin-left:20vw;
    width: 80vw;
}
#firstuser {
    background-color: blue;
    height: 100%;
    margin-left:20vw;
    width: 80vw;
}
#seconduser {
  padding:2em;
    background-color: grey;
    height: 100%;
   margin-left:20vw;
    width: 80vw;
}
#seconduser a {
color:white;
z-index:99;
}




#results {
  

    height: 100%;
    margin-left:20vw;
    width: 80vw;
}*/


* {
/*  font-family: 'Open Sans', sans-serif;*/
  font-weight: 300;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

html, body {
  margin:0;
  height: 100%;
}

h1 {
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight:500;
  color:#fff;
}
h1 span {
  font-size: 60px;
  font-family: 'Agency FB';
  color:#b7f259;
}


.page-section {
  height: auto;
  width: 80vw;
  margin-left: 25vw;
 font-family: 'Open Sans', sans-serif;
  padding: 3vw;
  background-color:#2b5170;
  background-color:#2b5170;
  color: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.testing{
  color:#f4425c;
}

.darker{
  height: auto;
  width: 80vw;
  margin-left: 25vw;
 font-family: 'Open Sans', sans-serif;
  padding: 3vw;
  background-color:#0d3556;
  background-color:#0d3556;
  color: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
.light{
    height: auto;
  width: 80vw;
  margin-left: 25vw;
 font-family: 'Open Sans', sans-serif;
  padding: 3vw;
  background-color:#eee;
  background-color:#eee;
  color: #151a3b;

  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.proto{
  color:#323333;
  background-color:#0ed2d6;
  padding:2em;
  transition:1s;
  margin-bottom:3em;

}
.proto a{
  font-family: 'Agency FB';
  text-decoration:none;
  font-weight:600;
  color:#323333;
  transition:1s;
}
.proto:hover{
  color:#70f4da;
  background-color:#9df9df;
  padding:2em;
  transition:1s;
}
.proto a:hover{
letter-spacing: 2px;
  transition:1s;
}


.light h1{
    color: #151a3b;
}

.page-section p{
  width:50vw;
}
ul{
  display:inline;
  height:3em;
}

.page-section li{
  list-style: none;
   display:inline;

height:3em;
}
.page-section li a{

text-decoration: none;
}

button{
  width:7em;
  height:7em;
}
.navigation {
  height: 100vh;
  position: fixed;
  width: 20vw;
 font-family: 'Agency FB';
  background-color: #151a3b;
  padding:3vw;
  color: #fff;
}

.navigation h3{
  color:white;
  font-size:30px;
}


.navigation__link {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 1em;
  font-weight: 400;
}
.navigation__link:hover {
  letter-spacing: 2px;
 /* background-color: #aaa;*/
}
.navigation__link.active {
  color:#b7f259;
 
  background-color: rgba(0, 0, 0, 0.1);
}
